<h1> DOING IT LIVE </h1>
<% if @part.errors.any? %>
  <div class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4><%= pluralize(@part.errors.count, "error") %> prohibited this computer from being saved:</h4>
    <ul>
    <% @part.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag new_part_path, :method => 'get' do %>
    <%= text_field_tag :item, params[:item] %>
    <%= submit_tag "Search", :name => nil %>
<% end %><br>

<% if params[:item] && @item != nil %>
  <% @item.each do |item| %>
  <div class="col-xs-6 items">
  <%= image_tag item["Image"]["SmallImagePath"] %><br>
  <strong><%= item["Title"] %></strong><br>
  Model: <%= item["Model"] %><br>
  Price: <%= item["FinalPrice"] %><br>


  <%= form_for(@part) do |f| %>
    <div class="field">
      <%= f.label :computer_id %><br>
      <%= f.collection_select :computer_id, @computers, :id, :name, prompt: true %>
      <input type="hidden" name="part[name]"   value="<%= item['Title'] %>" />
      <input type="hidden" name="part[api_id]" value="<%= item['NeweggItemNumber'] %>" />
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  <br>
  </div>
  <% end %>
<% end %>
