<h1> DOING IT LIVE </h1>

<%= form_tag new_part_path, :method => 'get' do %>
    <%= text_field_tag :item, params[:item] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% if params[:item] != nil %>
  <% @item.each do |item| %>
  <div class="col-xs-6 items">
  <%= image_tag item["Image"]["SmallImagePath"] %><br>
  <strong><%= item["Title"] %></strong><br>
  Model: <%= item["Model"] %><br>
  Price: <%= item["FinalPrice"] %><br>


  <%= form_for(@parts) do |f| %>
    <div class="field">
      <%= f.label :computer_id %><br>
      <%= f.collection_select :computer_id, @computers, :id, :name, prompt: true %>
      <input type="hidden" name="part[name]"   value="<%= item['Title'] %>" />
      <input type="hidden" name="part[api_id]" value="<%= item['NeweggItemNumber'] %>" />
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  <br>
  </div>
  <% end %>
<% end %>
