<div class="page-header">
  <%= link_to new_computer_path, class: 'btn btn-custom' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Computer
  <% end %>
  <h1>Listing computers</h1>
</div>

<div class="table-responsive flat">
  <table class="table table-hover">
    <thead>
      <tr class="headingTr">
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @computers) do |computer| %>
            <td><%= computer.name %></td>
            <td><%= computer.description %></td>
            <td><%= number_to_currency(computer.price) %></td>
            <td><%= link_to 'Show', computer %></td>
        <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
        <td><%= link_to 'Destroy', computer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
