<div class="page-header">
  <%= link_to new_part_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Add Parts
  <% end %>
  <%= link_to computers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_computer_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @computer.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd><%= @computer.description %></dd>

  <dt>Price:</dt>
  <dd><%= @computer.price %></dd>

</dl>

  <% @arr.each do |i| %>
    <%= image_tag i[0]["Image"]["SmallImagePath"] %><br>
    <%= i[0]["Title"] %><br>
    Model: <%= i[0]["Model"] %><br>
    Price: <%= i[0]["FinalPrice"] %><br>
  <% end %>



